* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background: #e9f1f7;
  /* display: flex; */
  overflow: hidden;
  justify-content: center;
}

.canvas {
  height: 200px;
  width: 500px;
  margin: 100px auto;
}

.rainbow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.layer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.red {
  height: 300px;
  width: 300px;
  background: #ef281a;
}

.orange {
  height: 270px;
  width: 270px;
  background: #fb9f89;
}

.yellow {
  height: 240px;
  width: 240px;
  background: #fdff99;
}

.green {
  height: 210px;
  width: 210px;
  background: #00ccc5;
}

.blue {
  height: 180px;
  width: 180px;
  background: #6eb8d8;
}

.violet {
  height: 150px;
  width: 150px;
  background: #54426b;
}

.violet::after {
  content: "";
  height: 120px;
  width: 120px;
  background: #e9f1f7;
  border-radius: 50%;
}

.overlay {
  height: 150px;
  width: 300px;
  background: rgb(233, 241, 247);
  top: -150px;
  left: 100px;
  position: relative;
}

.rainbowSquare {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
  box-shadow: 0 0 0 3em #fdd9ff, 0 0 0 6em #c6abff, 0 0 0 9em #6ea6f5,
    0 0 0 12em #79d991, 0 0 0 15em #fff47d, 0 0 0 18em #ffae78,
    0 0 0 21em #ff776e;
}
